@media screen and (max-width:576px) {
    * {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
}

.container {
    flex-direction: column;
    width: 90%;
    height: 100vh;
    margin: auto;
    margin-top: 50px;
}

.header {
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header h2,
span {
    font-size: 20px;
}

.header .span {
    color: rgb(0, 171, 45);
}

.section_one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 50px;

    
}

.all {
    height: 100px;
    width: 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}



.section_two {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: auto;

}

.input_box {
    height: 200px;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    padding: 0 20px;

}

.input_box button {
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 20px;

}
.input_box button:hover{
    cursor: pointer;
    color: white;    
}

#deposite_btn:hover{
    background-color: green;
    color: white;
}

#withdraw_btn:hover{
    background-color: red;
    color: white;
}

.input_box input {
    width: 90%;
    margin-bottom: 15px;
}
}